{% if __SELF__.getProperty('data_request') %}
data-request="{{ __SELF__.getProperty('data_request') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_update') %}
data-request-update="{{ __SELF__.getProperty('data_request_update') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_success') %}
data-request-success="{{ __SELF__.getProperty('data_request_success') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_confirm') %}
data-request-confirm="{{ __SELF__.getProperty('data_request_confirm') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_redirect') %}
data-request-redirect="{{ __SELF__.getProperty('data_request_redirect') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_data') %}
data-request-data="{{ __SELF__.getProperty('data_request_data') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_before_update') %}
data-request-before-update="{{ __SELF__.getProperty('data_request_before_update') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_error') %}
data-request-error="{{ __SELF__.getProperty('data_request_error') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_complete') %}
data-request-complete="{{ __SELF__.getProperty('data_request_complete') }}"
{% endif %}
{% if __SELF__.getProperty('data_request_files') %}
data-request-files
{% endif %}
{% if __SELF__.getProperty('data_request_flash') %}
data-request-flash
{% endif %}