
{% for field in fields %}
{% if field.tabname == tabname%}
<div class="form-group {% if field.classe %} {{ field.classe }} {% else %} col-md-12 {% endif %}">
       
    <label >{{ field.label }}</label>
    <input {% if field.track %} data-request-track="{{ field.track }}" {% endif %} 
    {% if field.value %} value="{{ field.value  }}" {% endif %}
    type="{{ field.type }}" class="form-control" id="{{ field.namefield }}"
    {% if field.type == 'file' %} accept="image/*" {% endif %}

     aria-describedby="emailHelp" name="{{ field.namefield }}"/>

</div>

    {% endif %}
{% endfor %}



