{% set active  = '' %}
<form
{% partial '@data'%}

>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            
         
            {% for tab in __SELF__.tabs  %}     
                <li class="nav-item">
                        {% if tab.position ==  1 %}
                  <a class="nav-link active" id="{{tab.name}}-tab" data-toggle="tab" href="#{{tab.name}}" role="tab" aria-controls="{{tab.name}}" aria-selected="true">{{tab.label}}</a>
                  {% else %}
                  <a class="nav-link " id="{{tab.name}}-tab" data-toggle="tab" href="#{{tab.name}}" role="tab" aria-controls="{{tab.name}}" aria-selected="true">{{tab.label}}</a>
                
                  {% endif %}
                </li>
            {% endfor %}
              </ul>


   {% partial '@tabs' tabs=__SELF__.tabs fields=__SELF__.fields %}
<button class="btn btn-primary" type="submit" data-request-load>send</button>
 </form>

